body {
  font-family: 'Play', sans-serif;
  display: flex;
}

#main-header {
  background-color: #3e3e3e;
  color: #fff;
  padding: 0.2em 0.6em;
  height: 4vh;
}

#main-header h1 {
  font-size: 2.5vh;
  line-height: 1.4;
}

.page-tittle {
  position: sticky;
  top: 0;
  text-align: left;
  font-size: 2vh;
  height: 3vh;
  background-color: #fff;
  line-height: 1.4;
}

#main-menu {
  border-right: solid 1px rgba(25, 25, 25, 0.2);
}

#main-menu .menu-lists {
  text-align: left;
  margin: 0 0.5rem;
  min-width: 160px;
  height: 100%;
}

#main-menu .menu-lists .menu-list_button {
  font-size: 1.6vh;
  outline: none;
  text-align: left;
  height: 3vh;
  width: 100%;
  border-bottom: dashed 2px transparent;
  margin-top: 0.4rem;
}

#main-menu .menu-lists .menu-list_button:focus, #main-menu .menu-lists .menu-list_button:hover {
  border-bottom: dashed 2px #000;
}

#main-menu .menu-lists .menu-list_button::selection {
  background-color: #fff;
}

#main-menu .menu-lists .menu-list_button__active {
  border-bottom: dashed 2px #000;
}

#main-area {
  height: 100%;
}

@media all and (max-width: 981px) {
  body {
    display: block;
  }
  #main-menu {
    height: 5vh;
  }
  #main-menu .menu-lists {
    list-style: none;
    display: flex;
  }
  #main-menu .menu-lists .menu-list_button {
    text-align: center;
    margin-right: 2rem;
  }
  #main-area {
    display: block;
  }
  #main-area #main-body {
    font-size: 2rem;
  }
}

#main-body {
  width: 100%;
  height: 95vh;
  overflow: scroll;
}

#main-body .main-body-date {
  display: none;
  padding: 0 0.5rem;
}

#main-body .main-body-date--active {
  display: block !important;
}

#main-body #wellcom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100%;
}

#main-body #wellcom.main-body--noneactiv {
  display: none;
}

#main-body #wellcom .follow-list {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  color: White;
}

#main-body #wellcom .follow-list li {
  padding: 1rem;
  margin: 0 3vw;
  text-align: center;
  width: 16rem;
  height: 6rem;
  border-radius: 0.5rem;
}

#main-body #wellcom .follow-list li:focus, #main-body #wellcom .follow-list li:hover {
  filter: grayscale(100%);
}

#main-body #wellcom .follow-list .follow-twitter {
  background-color: #00acee;
}

#main-body #wellcom .follow-list .follow-twitter .twitter-icon {
  width: 4rem;
}

#main-body #wellcom .follow-list .follow-facebook {
  background-color: #3b5998;
}

#main-body #wellcom .follow-list .follow-facebook .facebook-icon {
  width: 2.6rem;
}

#main-body #wellcom .follow-list a {
  text-decoration: none;
  color: White;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-body #wellcom .follow-list p {
  margin-right: 0;
  margin-left: auto;
}

#main-body #photos {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#main-body #photos.main-body--noneactiv {
  display: none;
}

#main-body #photos .photos-tittle {
  position: sticky;
  top: 0;
  text-align: left;
  background-color: #fff;
  font-size: 1.6vh;
  height: 2.5vh;
  line-height: 2;
}

#main-body #photos .photos-photolists {
  list-style: none;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

#main-body #photos .photos-photolists .photos-photolist {
  height: 18vw;
  width: auto;
  background-color: #eee;
}

#main-body #photos .photos-photolists .photos-photolist .images {
  width: auto;
  height: 100%;
}
