#main-header {
  width: 100vw;
  background-color: #3e3e3e;
  color: #fff;
  padding: 0.2em 0.6em;
}

.page-tittle {
  position: sticky;
  top: 0;
  text-align: left;
}

#main-area {
  display: flex;
  height: 100%;
}

#main-area #main-menu {
  border-right: solid 1px rgba(25, 25, 25, 0.2);
  height: 95vh;
}

#main-area #main-menu .menu-lists {
  text-align: left;
  margin: 0 0.5rem;
  min-width: 10vw;
  height: 100%;
}

#main-area #main-menu .menu-lists .menu-list_button {
  outline: none;
  text-align: left;
  height: 2rem;
  width: 100%;
  border-bottom: dashed 2px rgba(0, 0, 0, 0);
  margin-top: 0.4rem;
}

#main-area #main-menu .menu-lists .menu-list_button:focus, #main-area #main-menu .menu-lists .menu-list_button:hover {
  border-bottom: dashed 2px #000;
}

#main-area #main-menu .menu-lists .menu-list_button::selection {
  background-color: #fff;
}

#main-area #main-menu .menu-lists .menu-list_button__active {
  border-bottom: dashed 2px #000;
}

@media all and (max-width: 981px) {
  #main-area #main-menu {
    display: none;
  }
}

#main-area #main-body {
  width: 100%;
  height: 95vh;
  overflow: scroll;
}

#main-area #main-body .main-body-date {
  display: none;
  padding: 0 0.5rem;
}

#main-area #main-body .main-body-date--active {
  display: block !important;
}

#main-area #main-body #wellcom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100%;
  margin: 50px 0;
}

#main-area #main-body #wellcom.main-body--noneactiv {
  display: none;
}

#main-area #main-body #wellcom .follow-list {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  color: White;
}

#main-area #main-body #wellcom .follow-list li {
  padding: 1rem;
  margin: 0 3vw;
  text-align: center;
  width: 16rem;
  height: 6rem;
  border-radius: 0.5rem;
}

#main-area #main-body #wellcom .follow-list li:focus, #main-area #main-body #wellcom .follow-list li:hover {
  filter: grayscale(100%);
}

#main-area #main-body #wellcom .follow-list .follow-twitter {
  background-color: #00acee;
}

#main-area #main-body #wellcom .follow-list .follow-twitter .twitter-icon {
  width: 4rem;
}

#main-area #main-body #wellcom .follow-list .follow-facebook {
  background-color: #3b5998;
}

#main-area #main-body #wellcom .follow-list .follow-facebook .facebook-icon {
  width: 2.6rem;
}

#main-area #main-body #wellcom .follow-list a {
  text-decoration: none;
  color: White;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-area #main-body #wellcom .follow-list p {
  margin-right: 0;
  margin-left: auto;
}

#main-area #main-body #photos {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 91vh;
  overflow: scroll;
}

#main-area #main-body #photos.main-body--noneactiv {
  display: none;
}

#main-area #main-body #photos .photos-tittle {
  position: sticky;
  top: 0;
  text-align: left;
  background-color: #fff;
}

#main-area #main-body #photos .photos-photolists {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#main-area #main-body #photos .photos-photolists .photos-photolist {
  height: 24vh;
  width: auto;
}

#main-area #main-body #photos .photos-photolists .photos-photolist .images {
  width: auto;
  height: 100%;
  border: solid 4px #eee;
}
