.profile {
  background-image: url("/images/190921141622DSCF0999.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.profile_wrap {
  height: 55vw;
  padding: 1rem;
  background: linear-gradient(90deg, white, rgba(255, 255, 255, 0));
}

.profile_h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.profile_h3 .jp_name {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.profile_h4 {
  font-size: 2rem;
}

.profile_section {
  max-width: 56vw;
  margin: 1rem 0;
}

.profile ul {
  list-style: none;
}

.profile .profile_works p {
  font-size: 1.6rem;
  text-shadow: 2px 2px 6px white;
}

.profile .skill-set {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile .skill-set .skill-set_list {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  height: auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.profile .skill-set .skill-set_list p {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.profile .skill-label {
  border-radius: 8px 0 0 8px;
  width: 2rem;
}

.profile .skill-label_type-Design {
  background-color: #0062c6;
}

.profile .skill-label_type-Coding {
  background-color: #f52394;
}

.profile .skill-label_type-other {
  background-color: #5B676D;
}

@media all and (max-width: 981px) {
  .profile .profile_works p {
    font-size: 0.6em;
  }
  .profile .profile_section .skill-level_star-on, .profile .profile_section .skill-level_star-off {
    font-size: 0.6em;
    line-height: 3;
  }
  .profile .skill-set {
    display: block;
  }
  .profile .skill-set .skill-set_list {
    margin-bottom: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    max-width: 340px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
  }
  .profile .skill-set .skill-set_list p {
    font-size: 1.6rem;
    line-height: 2;
  }
}
